
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.popup h2 {
  margin-top: 0;
}

.popup-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  color: #fff;
}

.popup-buttons button {
  padding: 10px 20px;
  font-size: 16px;
}
